/**
 * Setting layout part
 */

body {
	font-family: 'Liberation Sans', 'Arial', sans-serif;
	font-size: small;
	background-color: lightcoral;
	margin: 0;
}

/**
 * Flexbox part
 */ 

#paper {
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	max-height: 100vh;
	justify-content: space-around;
}

.set {
	flex-basis: 6cm;
}

.set {
	display: flex;
	flex-flow: column wrap;
	margin: 0.1cm;
	align-content: flex-start;
}

.set__entry {
	
}

/**
 * Other rules
 */

.set__entry {
	background-color: white;
	min-height: 1.0rem;
	padding: 0.5rem;
}

.set__entry:focus {
	background-color: skyblue;
}
