/**
 * Setting layout
 */

body {
	font-family: 'Liberation Sans', 'Arial', sans-serif;
	font-size: small;
	background-color: lightcoral;
	margin: 0;
	overflow-y: hidden;
}

body {
	overflow-x: scroll;
}

/**
 * Flexbox part
 */

#paper {
	display: flex;
	flex-flow: row nowrap;
}

.mount {
	display: flex;
	flex-flow: column wrap;
}

.sets-collection {
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	max-height: 100vh;
}

.set {
	display: flex;
	flex-flow: column wrap;
	margin: 0.1cm;
	flex: 0 0 auto;
}

/**
 * Other rules
 */

.set__entry {
	width: 188px;
}

.set__entry {
	background-color: white;
	min-height: 1.0rem;
	padding: 0.5rem;
}

.set__entry:focus {
	background-color: skyblue;
}

.mount__button {
	cursor: pointer;
}

.mount__button {
/*
	TODO: Mix with 'set__entry?'
*/
	background: white;
	min-height: 1.0rem;
	padding: 0.5rem;
}

.mount__button {
/*
	TODO: ?
*/
	margin: 0.1cm;
}
