/**
 * Setting layout part
 */

body {
	font-family: 'Liberation Sans', 'Arial', sans-serif;
	font-size: small;
	background-color: lightcoral;
	margin: 0;
	overflow-y: hidden;
}

/**
 * Flexbox part
 */ 

body {
	overflow-x: scroll;
}

#paper {
	display: flex;
	flex-flow: row nowrap;
	height: 100vh;
	max-height: 100vh;
	justify-content: flex-start;
}

.set {
	display: flex;
	flex-flow: column wrap;
	margin: 0.1cm;
	flex: 0 0 auto;
}

.set__entry {
	width: 188px;
}

/**
 * Other rules
 */

.set__entry {
	background-color: white;
	min-height: 1.0rem;
	padding: 0.5rem;
}

.set__entry:focus {
	background-color: skyblue;
}
